$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;
$font-family-serif:      'Source Serif Pro', serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

ul li:first-child{
  color: black;
}

.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.tableActions {
  width: 120px;
}

.todoForm {
  padding-bottom: 60px;
}
